{% extends 'home.html' %}
{% load static %}

{% block home %}
	






    
    <!-- SECTION -->
		<!-- <div class="section" style="padding-top: 200px;">
			
			<div class="container">
			
				<div class="row">

					<div class="col-lg-6">
						<div class="section-title">
							<h3 class="title">Details</h3>
	
						</div>
					</div>
				

					<div class="col-lg-12">
						<div class="row">
							<div class="products-tabs">
							
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
								
						
										<div class="product">
											
											<div class="product-img">
												
												<img src="{{ product.image.url }}" alt="">
												<div class="product-label">
				
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{product.category}}</p>
												<h3 class="product-name"><a href="#">{{product.product_name}} {{product.model_name}}</a></h3>
												<h4 class="product-price">{{product.price}} </h4>
												<h4 class="product-name">{{product.Features}} </h4>

												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												
				

											</div>
											
											

											<div class="add-to-cart">
												<form method="post" action="{% url 'addtocart' %}" enctype="multipart/form-data">
													{% csrf_token %}
													<input type="hidden" name="productid" id="" value="{{i.id}}">
													<input type="number" name="quantity" id="" value="1" class="add-to-cart-btn">
												<button class="add-to-cart-btn" type="submit"><i class="fa fa-shopping-cart"></i> add to cart</button>
												</form>

												
											</div>
										</div>
										
		
									</div>
								
								</div>
							
							</div>
						</div>
					</div>
				
				</div>
			
			</div>
		
		</div> -->
		<!-- /SECTION -->
		

		  
		  <!-- content -->
		  <section class="py-5" style="color: black;padding-top: 250px;">
		
			<div class="container">
			  <div class="row gx-5">
				<aside class="col-lg-6 col-md-4">
				  <div class="border rounded-4 mb-3 d-flex justify-content-center">
					  <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{ product.image.url }}" />
					</a>
				  </div>
				 
				  <!-- thumbs-wrap.// -->
				  <!-- gallery-wrap .end// -->
				</aside>
				<main class="col-lg-6">
				  <div class="ps-lg-3">
					<h2 class="title text-dark">
						{{ product.brand_name }}
					</h2>
					<h3 class="product-name"><a href="#">{{product.product_name}} {{product.model_name}}</a></h3>

					<div class="d-flex flex-row my-3 ">
					  <div class="text-warning mb-1 me-2">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fas fa-star-half-alt"></i>
						<span class="ms-1">
						  4.5
						</span>
					  </div>
					  <span class="text-success ms-2">In stock</span>
					</div>
		  
					<div class="mb-3">
					  <p><span class="h5">price : {{product.price}}</span></p>
					  
					</div>
		  
					<p>
						Features :{{product.Features}}

					</p>
					<p>
						Category :{{product.category}}

					</p>
							
					<div>
						<form method="post" action="{% url 'addtocart' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="hidden" name="productid" id="" value="{{product.id}}">
							<input type="hidden" class="form-control" name="quantity" value="1">

						<button type="submit" class="btn btn-success shadow-0"><a href="#" > <i class="me-1 fa fa-shopping-basket"></i> Buy now</a></button>
						<button type="submit" class="btn btn-primary shadow-0"><i class="me-1 fa fa-shopping-basket"></i> Add to cart </button>
						<button type="submit" class="btn btn-warning py-2 icon-hover px-3"><a href="#" > <i class="me-1  fa fa-heart fa-lg"></i> wishlist </a></button>
					</form>
					  </div>
					  
		  
				
					<hr>
		  
				
					  <!-- col.// -->
					  <br>
					  <!-- <div class="col-lg-12 col-md-4 col-6 mb-3">
						<label class="mb-2 d-block">Quantity</label>
						<div class="input-group mb-3" style="width: 170px;">
						  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
							<i class="fas fa-minus"></i>
						  </button>
						  <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
						  <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
							<i class="fas fa-plus"></i>
						  </button>
			 -->
			
						</div>
					  </div>
					</div>
					<hr>

				
			
				</div>
				</main>
			  </div>
			</div>
		  </section>
		  <!-- content -->
		

        {% endblock home %}
            