{% extends 'customernav.html' %}
{% load static %}

{% block customer %}
	

<style>

    * {
      box-sizing: border-box;
      color: #000000;
    }
    
    /* Add padding to containers */
    .container1 {
      padding-top: 250px;
      padding-left: 125px;
      background-color: rgb(255, 255, 255);
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password],input[type=file] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #ddd;
      border-radius: 20px;
    
      overflow: hidden;
    }
    
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    
    /* Set a style for the submit button */
    button {   
      padding-left: 50px;
      background-color: #000000;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      border-radius: 20px;
    
      width: 20%;
      opacity: 0.9;
    }
    
    button:hover {
      background-color: crimson;
      border-radius: 60px;
      
      
    }
    
    /* Add a blue text color to links */
    
    .cont{
        width:60%;
    }
    
    /* Set a grey background color and center the text of the "sign in" section */
    
</style>


<form action="/upcus"  method="post" class="cont" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container1">

        <label for="Name"><b>Name</b></label>
        <input type="text" name="naam" value="{{cust.name}}"> <br> <br>

        <label for="Mobile"><b>Mobile</b></label>
        <input type="text" name="mobi" value="{{cust.mobile}}"> <br> <br>

        <label for="Email"><b>Email</b></label> 
        <input type="text" name="email" value="{{cust.email}}"> <br>

        <input type="text" name="cusid" value="{{cust.cid}}" style="display: none;">

        <input type="text" name="usern" value="{{use.username}}" style="display: none;"> 
        <button type="submit">update</button>
    </div>

</form>
 
{% endblock customer %}













